body{
	/*background-color:#ffeaa3;*/
	background-image:url("background/pixel-heart.png");
}
h1 {
	text-align:center;
	font-family:verdana;
       font-size:30px;	
}
task {
	font-weight:bold;
	font-family:monospace;
	font-size:25px;
	color:gray;
}
subtask::before{
	content:"- "
}
subtask{
	font-family:Courier New;
	font-size:20px;
	margin-left:30px;
	font-weight:bold;


}
data_inizio::before{
	content:"@ Data di Inizio";
}
data_inizio{
	margin-left:40px;
	font-size:15px;
	font-family:"Courier New";

}
data_fine::before{
	content:"@ Data di fine: ";
}
data_fine{
	margin-left:40px;
	font-size:15px;
	font-family:"Courier New";
}
ore::before{
	content:"§ Ore di lavoro: ";
}
ore{
	font-family:"Lucida Console";
	font-size:15px;
	margin-left:60px;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 80px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}
